<!DOCTYPE html>
<html>
<head>
	<title>project</title>
	<style>
		.one
		{
			display: flex;
			justify-content: space-evenly;
		}
		.btn{
			background-color:skyblue;
			width:168px;
			margin-top:10px;
	</style>
</head>
<body>
	<div class="one">
	<div class="login">
		<h1>LOGIN</h2>
		<pre>Username:</pre><input type="Username" name="Username"><br>
		<pre>Enter password:</pre><input type="password" name="password"><br>
		<a href="survey.html">
		
		
		<button type="Login"class="btn">Login</button>
	</div>
	</div>
	