<h1>Sign Up form</h1>
<form action="/register" method="POST">
<input type=text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<input type="Date" name="dob" placeholder="enter ur dateofbirth">
<input type="email" name="email" placeholder="enter ur email">
<input type="number" name="ages" placeholder="enter ur age">
<button>submit</button>
</form>

<h1>This is home page</h1>
 <li><a href="/register">Sign upp!!</a></li>
 <li><a href="/login">Login</a></li>
 <li><a href="/logout">Logout</a></li>